<main>
    <form method="POST" style="max-width: 600px; margin: 0 auto;" id="form-user">
        <h3 class="text-center mb-2">{{title}}</h3>
        {{msg-error-alert}}
        <input placeholder="Nome" type="text" class="form-control mb-3" name="nome" value={{nome}}>
        <input placeholder="Cpf" type="number" class="form-control mb-3" name="cpf" value={{cpf}}>
        <input placeholder="Endereço" type="text" class="form-control mb-3" name="endereco" value={{endereco}}>
        <input placeholder="E-mail" type="text" class="form-control mb-3" name="email" value={{email}}>
        <input placeholder="Senha" type="password" class="form-control mb-3" name="senha" value={{senha}}>
        <!-- <select class="form-select mb-3" name="tipoUser[]" multiple>
            <option disabled>Selecione o tipo de usuário</option>
            <option value="S">Cliente</option>
            <option value="S">Administrador</option>
        </select> -->
        <div class="form-check mb-1">
            <input name="cliente" class="form-check-input" type="checkbox" value="S" id="checkcliente" checked>
            <label class="form-check-label" for="checkcliente">
                Cliente
            </label>
        </div>
        <div class="form-check">
            <input name="administrador" class="form-check-input" type="checkbox" value="S" id="checkadm">
            <label class="form-check-label" for="checkadm">
                Administrador
            </label>
        </div>

        <div class="mb-3 mt-3 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary btn-sm" name="salvar"><i
                    class="fas fa-save"></i>&nbsp;<span>Salvar</span></button>
        </div>
    </form>
</main>