<div class="container">
    <section>
        {{button-cadastro}}
    </section>
    <section>
        <table class="table bg-light mt-3">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Cpf</th>
                    <th>E-mail</th>
                    <th>Cliente</th>
                    <th>Administrador</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                {{content}}
            </tbody>
        </table>
    </section>
</div>