<header class="mb-3 header text-center">
    <h1>Game Store</h1>
    <nav class="nav-list">
        <ul>
            <li>
                <a href="{{URL}}">
                    <i class="fas fa-home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="{{URL}}/user-list">
                    <i class="fas fa-users"></i>
                    <span>Usuários</span>
                </a>
            </li>
            <li>
                <a href="{{URL}}/product">
                    <i class="fas fa-box-open"></i>
                    <span>Produtos</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-shopping-cart"></i>
                    <span>Carrinho</span>
                </a>
            </li>
            {{login-logout}}
        </ul>
    </nav>
</header>