<div class="float-start">
    <a style="text-decoration:none;" href="{{URL}}/product-edit/{{idProduct}}" title="Editar">
        <button type="button" class="btn btn-outline-primary btn-sm">
            <i class="fas fa-edit"></i>
        </button>
    </a>
    <a style="text-decoration:none;" href="{{URL}}/product-delete/{{idProduct}}" title="Remover">
        <button type="button" class="btn btn-outline-primary btn-sm">
            <i class="far fa-trash-alt"></i>
        </button>
    </a>
</div>