<div class="card bg-secondary card-extra {{item-add}}">
    <img class="card-img" height="250" src="{{dir-img}}" />
    <div class="card-info text-white">
        <span class="d-block h4 nome-card">{{nome}}</span>
        <span class="d-block h6" style="height: 55px;max-height: 55px; overflow:auto;">{{descricao}}</span>
        <form method="POST">
            <div class="d-flex justify-content-between mb-2">
                <span class="d-block mt-1 mb-2">R$ {{valor}}</span>
                <input type="number" placeholder="Qtde" name="quantidade" value="{{qtd}}" style="width: 100px;">
            </div>
            {{actions}}
            <input type="text" name="idProduct" value="{{idProduct}}" hidden>
            <button class="btn btn-outline-primary btn-sm float-end">
                <i class=" fas fa-shopping-cart"></i>
                <span>Adicionar</span>
            </button>
        </form>
    </div>
</div>