<div class="card bg-secondary card-extra">
    <img class="card-img" src="/desenv_web/img/' . $count . '.jpg" alt="header" />
    <div class="card-info text-white">
        <span class="d-block h4 nome-card">{{nome}}</span>
        <span class="d-block h6" style="height: 55px;max-height: 55px; overflow:auto;">{{descricao}}</span>
        <span class="d-block mt-1 mb-2">{{valor}}</span>
        {{actions}}
        <button type="button" class="btn btn-outline-primary btn-sm float-end">
            <i class=" fas fa-shopping-cart"></i>
            <span>Adicionar</span>
        </button>
    </div>
</div>